// neutrals
$sand: #cdc8b0;
$brush: #9e9b83;
$bark: #525348;
$umber: #312d2b;
$smoke: #dedcd4;

// colors
$red-primary: #f42c2d;
$red-secondary: #fa797d;
$red-tertiary: #9f0000;

$orange-primary: #ff8c04;
$orange-secondary: #ffd18c;
$orange-tertiary: #935902;

$yellow-primary: #e5c321;
$yellow-secondary: #fff69d;
$yellow-tertiary: #c3850b;

$green-primary: #6eb84b;
$green-secondary: #a3f8a5;
$green-tertiary: #09660c;

$blue-primary: #10b7fe;
$blue-secondary: #a1fafe;
$blue-tertiary: #0c4eb1;

$purple-primary: #a250e2;
$purple-secondary: #d299ff;
$purple-tertiary: #5101b8;

// grey scales
$black: #000000;
$white: #ffffff;
$percent_5: #f2f2f2;
$percent_10: #e5e5e5;
$percent_15: #d9d9d9;
$percent_20: #cccccc;
$percent_30: #b2b2b2;
$percent_40: #999999;
$percent_50: #808080;
$percent_60: #666666;
$percent_70: #4d4d4d;
$percent_80: #333333;
$percent_85: #262626;
$percent_90: #1a1a1a;
$percent_95: #0d0d0d;

// colors found throughout
$tak-light-blue: #4e9aff;
$slate: #18191b;
$marquee-bg: #3d3f35;
$marquee-gradient: #3d3f35;
$button-primary: #1e5092;
$form-inputs: rgba(0, 0, 0, 0.1);
$login-background: rgba(255, 255, 255, 0.15);
$tak-card-hover-bg: #ebe0d5;
$form-input-bg: $smoke;
$form-input-login-bg: #e8e9e8;
$red-login-error: #dc3545;
$progress-bar-active: #d8e7b9;
$assistive-text-color: #a7a7a7;
$filter-pill: #f9ebb0;
$dark-footer-bg: #191a1b;
$duffle-divider: #d9d9d9;
$fluid-bar-bg: #525348;
