// marquee
$marquee-background-01: '/img/marquee/unsplash-temp-marquee-01.jpg';

// pattern
$pattern-body-top: '/img/patterns/body-top.png';
$pattern-body-bottom: '/img/patterns/body-bottom.png';

// vertical patterns (top to bottom / bottom to left)
$pattern-grid-vertical-ttb-dark: '/img/patterns/grid-vertical-ttb-dark.png';
$pattern-grid-vertical-ttb-light: '/img/patterns/grid-vertical-ttb-light.png';
$pattern-grid-vertical-btt-dark: '/img/patterns/grid-vertical-btt-dark.png';
$pattern-grid-vertical-btt-light: '/img/patterns/grid-vertical-btt-light.png';

// horizontal patterns (right to left)
$pattern-grid-horizontal-rtl-long-dark: '/img/patterns/grid-horizontal-rtl-long-dark.png';
$pattern-grid-horizontal-rtl-long-light: '/img/patterns/grid-horizontal-rtl-long-light.png';
$pattern-grid-horizontal-rtl-short-dark: '/img/patterns/grid-horizontal-rtl-short-dark.png';
$pattern-grid-horizontal-rtl-short-light: '/img/patterns/grid-horizontal-rtl-short-light.png';

// topographic (map pattern)
$pattern-topographic-dark: '/img/patterns/topographic-pattern-dark.png';
$pattern-topographic-light: '/img/patterns/topographic-pattern-light.png';

// misc
$svg-reticle-border-dark: '/img/patterns/reticle-frame-dark.svg';
$svg-reticle-border-light: '/img/patterns/reticle-frame-light.svg';
